# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\Ders\2. sınıf 1. dönem ders\ceng213 veri yapıları\ödevler\ödev 2\VSProgrammingAssignment2\programmingAssignment1\ codebase based on best match to current usage at 15.12.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]

indent_style = space
indent_size = 2